.nav-pills .nav-link {
  color: #29a19e !important;
}

.nav-pills .nav-link.active {
  color: white !important;
  background-color:#0c5e5b !important; /*alternative color: #275756 */
}

.nav-pills .nav-link.disabled {
  color: #6c757d;
}
