.CreateNewApp {
  color: black;
  text-align: center;
  /* text-align: left; */
  padding: 1em;
  margin: 1em;
  margin-top: 30px;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 100px;
  background-color: white;
  opacity: .7;
}

.title {
  font-size: 1.5em;
}

.form {
  padding: 1em;
}

label {
  display: flex;
  font-weight: 600;
}

button {
  justify-content: flex-end;
}
